*  {
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
}

body {
    margin-top: 80px;
    width: 100%;
    height: 100%;
}

.header {
    background-color: #036a91;    ;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.logo img{
    margin-top: 10%;
    margin-left: 16px;
    width: 60px;
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item {
    font-size: 16px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
}

.nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
}

.nav-menu-link:hover {
    background-color: #0791b8;
    transition: 0.5s;
}

.tittle_inicio {
    background: #ff8400;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.subtitle_inicio {
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 20px;
}

table {
    background-color: white;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}

th td{
    padding: 20px;
}

.thead{
    background-color: #54badf;
    border-bottom: solid 2px #0F362D;
    color: white;
}

td{
    border: solid 1px #54badf;
}

.container_card {
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.card_login {
    width: 330px;
    height: 450px;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    text-align: center;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.card_login img {
    margin-top: 10%;
    width: 200px;
}

.card_login .form{
    display: block;
}

.title_card {
    text-align: center;
    font-size: 40px;
    margin-top: 4px;
    font-weight: 100;
    margin-bottom: 4%;
}

.submenu {
    margin-top: 16px;

}

.submenu a{
    margin-right: 4px;
    border-style: solid;
    padding-left: 20px;
    padding-right: 20px;
}

#nickname{
    width: 70%;
    text-align: center;
}

#nickname:hover{
    transition: 0.5s;
} 

#password{
    margin-top: 8px;
    width: 70%;
    text-align: center;
}
#submit{
    margin-top: 12px;
    text-align: center;
    width: 40%;
    height: 40px;
}

.text_example{
    margin-top: 20px;
    margin-bottom: 4px;
    margin-left: 50px;
    margin-right: 50px;
}

.text_example p{
    margin-top: 12px;
    margin-bottom: 12px;
}

.text_example img{
    width: 336px;
}
/* 

.container nav ul li {
    display: inline;
    margin-right: 9px;
    border-style: solid;
    border-radius: 8px;
} */