<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width    =device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">

    <title>Document</title>
</head>
<body>
    <header class="header">
        <nav class="nav">
            <a href="http://villahermosa.tecnm.mx/" class="logo"><img src="https://w7.pngwing.com/pngs/1008/847/png-transparent-advertising-marketing-computer-monitors-industry-computer-photography-computer-logo.png" alt="logo"></a>
            <ul class="nav-menu">
                <li class="nav-menu-item"><a href="/index" class="nav-link nav-menu-link">Inicio</a></li>
                <li class="nav-menu-item"><a href="/teachers" class="nav-link nav-menu-link">Profesores</a></li>
                <li class="nav-menu-item"><a href="nosotros.html" class="nav-link nav-menu-link">nosotros</a></li>
                {% if session.get('nickname') %}
                    <li class="nav-menu-item"><a href="/students" class="nav-link nav-menu-link">Estudiantes</a></li>
                    <li class="nav-menu-item"><a href="/classrooms" class="nav-link nav-menu-link">Clases</a></li>
                {% endif %}
                {% if session.get('nickname') %}
                    <li class="nav-menu-item"><a href="/logout" class="nav-link nav-menu-link">Salir</a></li>
                {% else %}
                    <li class="nav-menu-item"><a href="/login" class="nav-link nav-menu-link">Entrar</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    
    {% block content %}
    {% endblock %}
</body>
</html>