{% extends 'base.html' %}

{% block content %}
<table>
    <tr>
        <td>ALUMNOS</td>
        <td>MATERIA</td>
        <td>GRUPO</td>
        <td>GRADO</td>
        <td>PROFESOR</td>
        <td>CICLOESCOLAR</td>
      </tr>
    {% for x in classrooms %} 
    <tr>
        <td>{{ x[0] }}</td>
        <td>{{ x[1] }}</td>
        <td>{{ x[2] }}</td>
        <td>{{ x[3] }}</td>
        <td>{{ x[4] }}</td>
        <td>{{ x[5] }}</td>
      </tr>
    {% endfor %}
</table>
<a href="/index">Volver</a>
{% endblock %}