{% extends 'base.html' %}

{% block content %}
<table>
    <tr class="thead">
        <th>ALUMNOS</th>
        <th>MATERIA</th>
        <th>GRUPO</th>
        <th>GRADO</th>
        <th>PROFESOR</th>
        <th>CICLOESCOLAR</th>
      </tr>
    {% for x in classrooms %} 
    <tr>
        <td>{{ x[0] }}</td>
        <td>{{ x[1] }}</td>
        <td>{{ x[2] }}</td>
        <td>{{ x[3] }}</td>
        <td>{{ x[4] }}</td>
        <td>{{ x[5] }}</td>
      </tr>
    {% endfor %}
</table>
<a href="/index">Volver</a>
{% endblock %}