{% extends 'base.html' %}

{%block content %}
<h1>Sistema de integracion escolar</h1>
<h2>Hecho por alumnos del ITVH</h2>
    <div class="buttonUser">
    {% if session.get('nickname') %}
        <div>
            <a href="">Hola {{ nickname }}</a>
            <a href="/logout">salir</a>
        </div>
        <div>
            <a href=""></a>
        </div>
    {% else %}
        <div class="buttonLogin">
            <a href="/login">Iniciar sesion</a>
        </div>
    {% endif %}
    </div>

{% endblock %}