{% extends 'base.html' %}

{% block content %}
<h1>Estudiantes</h1>
<br>
<table>
    <tr class="thead">
        <th>id</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Fecha Nacimiento</th>
        <th>Sexo</th>
        <th>vigencia</th>
      </tr>
    {% for x in students %} 
    <tr>
        <td>{{ x[0] }}</td>
        <td>{{ x[1] }}</td>
        <td>{{ x[2] }}</td>
        <td>{{ x[3] }}</td>
        <td>{{ x[4] }}</td>
        <td>{{ x[5] }}</td>
      </tr>
    {% endfor %}
</table>
<div class="submenu">
  <a href="/students/new">Crear nuevo</a>
  <a href="/students/upstudent">Dar Alta Alumno Existente</a>
  <a href="/students/downstudent">Dar Baja Alumno</a>
</div>
{% endblock %}