{% extends 'base.html' %}

{% block content %}
<table>
    <tr class="thead">
        <th>id</th>
        <th>Nombre</th>
        <th>Fecha Nacimiento</th>
        <th>Sexo</th>
        <th>Vigencia</th>
      </tr>
    {% for x in teachers %} 
    <tr>
        <td>{{ x[0] }}</td>
        <td>{{ x[1] }}</td>
        <td>{{ x[2] }}</td>
        <td>{{ x[3] }}</td>
        <td>{{ x[4] }}</td>
      </tr>
    {% endfor %}
</table>

{% if session.get('nickname') %}
    <a href="/teachers/create">Crear nuevo</a>
{% endif %}
{% endblock %}